<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Tarefas</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <<div class="container">
        <h1>Gerenciador de Tarefas</h1>

        <form action="/adicionar" method="post">
            <input type="text" name="titulo" placeholder="Título da tarefa" required>
            <input type="text" name="descricao" placeholder="Descrição" required>
            <button type="submit">Adicionar</button>
        </form>

        <ul>
            {% for tarefa in tarefas %}
                <li>
                    <span><strong>{{ tarefa.titulo }}</strong> - {{ tarefa.descricao }}</span>
                    <a href="/remover/{{ loop.index0 }}">Remover</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
<!-- Simulação de alteração para commit -->
